#e-1 {
  background-image: url("https://minkaron.github.io/website-menu/images/food/fruitsammy.png");
}

#e-2 {
  background-image: url("https://minkaron.github.io/website-menu/images/food/privit.png");
}

#e-3 {
  background-image: url("https://minkaron.github.io/website-menu/images/food/surf.png");
}

#e-4 {
  background-image: url("https://minkaron.github.io/website-menu/images/food/dim.png");
}

#e-5 {
  background-image: url("https://minkaron.github.io/website-menu/images/food/stew.png");
}

#d-1 {
  background-image: url("https://minkaron.github.io/website-menu/images/drinks/fenrir.png");
}

#d-2 {
  background-image: url("https://minkaron.github.io/website-menu/images/drinks/ale.png");
}

#d-3 {
  background-image: url("https://minkaron.github.io/website-menu/images/drinks/noble.png");
}

#d-4 {
  background-image: url("https://minkaron.github.io/website-menu/images/drinks/peach.png");
}

#d-5 {
  background-image: url("https://minkaron.github.io/website-menu/images/drinks/gleam.png");
}

#e-t-1::before {
  content: "Lavender's Fruit Sandwich - 12";
}

#e-d-1::before {
  content: "Sweet strawberries, kiwi, and cantaloupe slices are paired with fresh cream and slid between soft milk tea bread... A dessert delicacy that brings to mind a certain Meowchant.";
}

#e-t-2::before {
  content: "Privit's Platter - 15";
}

#e-d-2::before {
  content: "A charcuterie board consisting of Geladynian-grade crackers, finely aged cheeses, and smoked meats with a touch of spice condiments. Sure, you could share it with friends, but do you really?";
}

#e-t-3::before {
  content: "Bella Donna Surf & Turf - 24";
}

#e-d-3::before {
  content: "A Meiaquarise meal worth every coin. Grilled salmon with sirlon, fries, and steamed veggies. Condiments upon request! But don't let the chef catch you reaching for that steak sauce...";
}

#e-t-4::before {
  content: "Morning Ritual - 17";
}

#e-d-4::before {
  content: "Inspired by Duyuein cuisine, this all-in-one meal consists of many bite-sized portions of steamed dumplings, buns, rolls, meats — and of course, desserts! Paired with your choice of tea.";
}

#e-t-5::before {
  content: "Cold Curer - 18";
}

#e-d-5::before {
  content: "A hearty bowl of stewed beef with carrots, potatoes, and other aromatics. The broth has been reduced to a rich gravy with every bite melting into your mouth. Dubbed a 'cure-all' by Telegradian moms!"
}

#d-t-1::before {
  content: "The Fenrir - 15";
}

#d-d-1::before {
  content: "A fancy beverage with a shot of vodka, shot of curaçao, splash of pineapple juice, and a drop or two of enchanted oil for foggy mystique. Served with a lime wedge. As tropical as it is chilling!";
}

#d-t-2::before {
  content: "Telegradian Blonde Ale - 13";
}

#d-d-2::before {
  content: "A classic. Crisp, hints of citrus, and a touch sweet to balance the bitter, this ale is sure to please any drinker — both inexperienced and well-acquainted. And it's always on tap.";
}

#d-t-3::before {
  content: "Noble's Blood - 15";
}

#d-d-3::before {
  content: "Love cherries? Then this is the drink for you. Cherry infused brandy, shot of vodka, and squeeze of lemon juice for added tart. If nobles had hearts, this would surely pump through it.";
}

#d-t-4::before {
  content: "High Roller - 14";
}

#d-d-4::before {
  content: "Floral white tea, honey, peach juice, with a shot of Meiaquarise rum and you'll be feelin' like a million gold bars! Just don't run to the casino and try to bet that amount.";
}

#d-t-5::before {
  content: "Gleam & Gloom - 16";
}

#d-d-5::before {
  content: "Mead mixed with a healthy portion of blueberry and orange puree — poured to look like night and day. It's like a refreshing morning smoothie but with the sucker punch of a brawling nightclub.";
}
