@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Pangolin&display=swap');
* {
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  text-align: center;
}

body {
  font-family: "Pangolin";
  color: white;
  font-size: 20px;
  background-image: url("https://cdn.discordapp.com/attachments/842276672870678559/1185949629301399703/menubg.png")
}

#a {
  width: 1000px;
  height: 750px;
  background-color: brown;
  display: flex;
  border: 10px outset orange;
  margin: 0 auto;
  background-image: url(https://cdn.discordapp.com/attachments/842276672870678559/1185975861527191592/chalk.png?ex=65919117&is=657f1c17&hm=7022e44b43fb4f67d2eef8e6e9b48cbaf17b386b5e18e49db26167fb2e7f5f03&)
}

.menu {
  width: 50%;
  height: 100%;
}

#food {
}

#drink {
}

.pic-con {
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
}

.pic {
  min-height: 96px;
  min-width: 96px;
  background-color: black;
  border-radius: 25%;
  margin: 4px;
}

.menu-item {
  display: flex;
  height: 100px;
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.border {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0.5px;
  height: 95%;
  background-color: black;
  align-self: center;
}

.detail {
  font-family: "Love Ya Like A Sister";
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
}

#d-r {
  margin-left: 10px;
}

.spacer {
  height: 18px;
}

.extras {
  position: absolute;
  margin-top: 650px;
  margin-left: 1050px;
}

.item-title {
  font-size: 20px;
}

.fine-detail {
  font-size: 15px;
}
